%table.table.gallery
  %tbody
    - @generated_images.each do |generated_image|
      %tr
        %td= image_tag generated_image.content_image.image(:medium)
        %td +
        %td= image_tag generated_image.style_image.image(:medium)
        %td =
        %td
          - if generated_image.image_file_name.present?
            = image_tag generated_image.image(:medium)
          - else
            Generating image.  Please wait...
        -# %td= link_to 'Show', generated_image
        -# %td= link_to 'Edit', edit_generated_image_path(generated_image)
        -# %td= link_to 'Destroy', generated_image, :method => :delete, :data => { :confirm => 'Are you sure?' }
