!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title When Androids Dream
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      / Static navbar
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: '/'} When androids dream...
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li
                %p.navbar-text
                  neural network-based image style transfer using the
                  %a{href: 'https://github.com/jcjohnson/neural-style', target: '_blank'} neural-style
                  library
            %ul.nav.navbar-nav.navbar-right
              %li
                %form
                  %a.btn.btn-primary.navbar-btn{href: new_generated_image_path} + New
      = yield
